<div class="main-auth-container">

    <!-- Fondo -->
    <img src="paseo-rosas2.jpeg" class="bg-image" alt="Fondo El Grullo">

    <div class="container">

        <div class="login-card">

            <div class="row g-0">

                <!-- Formulario -->
                <div class="col-lg-8 col-12">
                    <div class="left-side">

                        <p class="fw-medium fs-2 m-0">
                            Iniciar sesión
                        </p>

                        <p class="subtitle">
                            Accede a tu cuenta para continuar.
                        </p>

                        <form [formGroup]="form" (ngSubmit)="login()">

                            <mat-form-field appearance="outline" class="matField">
                                <mat-label class="form-title">
                                    Correo Electrónico
                                </mat-label>

                                <input matInput type="email" name="email" formControlName="email"
                                    placeholder="Escribe un correo electronico...">
                                @if(form.get('email')?.invalid && form.get('email')?.touched){
                                <mat-error>
                                    @if (form.get('email')?.hasError('required')) {
                                    Este campo esta incompleto
                                    }
                                    @if (form.get('email')?.hasError('email')) {
                                    El campo correo es invalido

                                    }
                                </mat-error>
                                }
                            </mat-form-field>


                            <mat-form-field appearance="outline" class="matField mt-2">
                                <mat-label class="form-title">
                                    Contraseña
                                </mat-label>

                                <input matInput [type]="hidePassword ? 'text' :'password'" name="password" formControlName="password"
                                    placeholder="Escribe una contraseña">

                                <button mat-icon-button matIconSuffix (click)="hidePassword = !hidePassword" type="button" class="border-0 bg-transparent">
                                    <i [class]="hidePassword ? 'bi bi-eye me-2 fs-5' : 'bi bi-eye-slash me-2 fs-5'"></i>
                                </button>

                                @if (form.get('password')?.invalid && form.get('password')?.touched) {
                                <mat-error>
                                    @if (form.get('password')?.hasError('required')) {
                                    Este campo esta incompleto
                                    }
                                </mat-error>
                                }

                            </mat-form-field>

                            <div class="d-flex flex-column options">

                                <div class="form-check">
                                    <input  type="checkbox" class="form-check-input">

                                    <label class="form-check-label">
                                        Recordarme
                                    </label>
                                </div>

                                <a href="#" class="text-secondary text-decoration-none">
                                    ¿Olvidaste tu contraseña?
                                </a>

                            </div>

                            <button type="submit" class="btn btn-login w-100">
                                <i class="bi bi-send"></i>
                                Iniciar sesión
                            </button>

                        </form>

                        <div class="register">
                            <p>
                                ¿No tienes una cuenta?
                                <a href="#" class="text-decoration-none">
                                    Regístrate aquí
                                </a>
                            </p>
                        </div>

                        <div class="terms">
                            Al iniciar sesión, aceptas nuestros
                            Términos y Condiciones y Aviso de Privacidad.
                        </div>

                    </div>
                </div>

                <!-- Panel derecho -->
                <div class="col-lg-4 d-none d-lg-block">

                    <div class="right-side">

                        <div class="img-logo">
                            <img src="logoGb.png" alt="Logo Gobierno Municipal">
                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>

</div>