<div class="main-auth-container">
  <img src="paseo-rosas2.jpeg" class="bg-image" alt="Fondo El Grullo">
  <div class="container">
  <div class="login-card">
    <div class="row g-0">
      <div class="col-lg-7 col-12">
        <div class="left-side">
          <p class="fw-medium display-6 m-0">Iniciar sesión</p>
          <p class="subtitle">Accede a tu cuenta para continuar.</p>

          <form>
            <div>
              <label class="form-label">Correo Electronico</label>
              <input
                type="email"
                class="form-control"
                placeholder="Escribe un correo electronico..."
              />
            </div>
            <div>
              <label class="form-label">Contraseña</label>
              <div class="password-box">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Escribe una contraseña"
                />
                <i class="bi bi-eye"></i>
              </div>
            </div>
            <div class="d-flex justify-content-between flex-column options">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" />
                <label class="form-check-label">Recordarme</label>
              </div>

              <a href="#" class="text-secondary text-decoration-none"
                >¿Olvidaste tu Contraseña?</a
              >
            </div>

            <button class="btn btn-login w-100">
              <i class="bi bi-send"></i> Iniciar sesión
            </button>
          </form>
          <div class="register">
            <p>
              ¿No tienes una cuenta?
              <a href="#" class="text-decoration-none">Regístrate aquí</a>
            </p>
          </div>

          <div class="terms">
            Al iniciar sesión, aceptas nuestros <br />
            Términos y Condiciones y Aviso de Privacidad.
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="right-side">
          <div class="img-logo">
            <img src="logoGb.png" alt="Logo Gobierno Municipal" />
          </div>
          <!-- 
          <div class="gov-text">
            <p class="small-text">Gobierno Municipal</p>

            <h2>El Grullo</h2>

            <p class="bottom-text">Construyendo juntos una mejor ciudad</p>
          </div> -->
          <button class="btn btn-light w-75 rounded-3 fs-5 fw-medium">
              <i class="bi bi-backspace"></i> Regresar
            </button>
        </div>
        
      </div>
    </div>
  </div>
</div>

</div>