<mat-card class="dashboard-card">

    <mat-card-header class="header">
        <mat-card-title class="titulo">
            Áreas del Municipio
        </mat-card-title>

        <button class="btn report-button" (click)="openArea()">
            <i class="bi bi-plus-circle-fill me-2"></i>
            Nueva area
        </button>
    </mat-card-header>
    <div class="buscador">
        <mat-form-field appearance="outline" class="mat-buscador">
            <mat-label>Buscar Área / Responsable</mat-label>
            <input matInput [(ngModel)]="filter" (keyup.enter)="filtro(filter)">
        </mat-form-field>

        <button class="btn btn-secondary boton-area" (click)="filtro(filter)">
            Buscar Área
        </button>
    </div>

    <mat-card-content>


        <div class="table-responsive">

            <table class="table  align-middle">

                <thead>

                    <tr>

                        <th>Área</th>
                        <th>Usuarios</th>
                        <th>Estado</th>
                        <th>Acciones</th>

                    </tr>

                </thead>

                @if(loanding){
                <tr>
                    <td colspan="6">
                        <div class=" d-flex flex-column justify-content-center align-items-center gap-2 py-5">
                            <div class="spinner-border text-info" role="status">
                            </div>
                            <span class=" text-black">
                                Cargando...
                            </span>
                        </div>

                    </td>
                </tr>
                <tr>
                </tr>

                }@else if(searchDone && areas.length===0){
                <tr>
                    <td colspan="6">
                        <div class="d-flex flex-column justify-content-center align-items-center py-5 text-muted">

                            <i class="bi bi-building fs-1 mb-3 text-secondary"></i>

                            <h5 class="mb-1 fw-semibold">
                                No encontramos Areas
                            </h5>

                            <span class="small">
                                No hay resultados que coincidan con tu búsqueda.
                            </span>

                        </div>
                    </td>
                </tr>
                }@else {
                @for (item of areas; track $index) {

                <tbody>

                    <tr>
                        <td>

                            {{item.name}}

                        </td>
                        <td>
                            @if (item.users.length<1) { <span class="user-unassigned">
                                <i class="bi bi-person-plus-fill"></i>
                                Por asignar
                                </span>

                                }@else{
                                <span class="user-count">
                                    <i class="bi bi-people-fill"></i>
                                    {{item.users.length}}
                                </span>
                                }
                        </td>
                        <td>
                            @if(item.estado){
                            <span class="badge bg-success">
                                Activo
                            </span>
                            }@else {
                            <span class="badge bg-secondary">
                                Inactivo
                            </span>
                            }
                        </td>
                        <td>

                            <button class="btn btn-sm border-0  m-0 p-0 " matTooltip="Editar Area" matRipple
                                (click)="openArea(item)" [matRippleCentered]="true" [matRippleUnbounded]="true"
                                [matRippleRadius]="25">
                                <i class="bi bi-pencil fs-3 text-info"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                }
                }
            </table>
        </div>

    </mat-card-content>
    @if (pageCurret) {
    <mat-paginator class="custom-paginator" [length]="pageCurret.total" [pageSize]="pageCurret.per_page"
        aria-label="Select page" (page)="changePage($event)">
    </mat-paginator>
    }
</mat-card>