<div class="container-fluid dashboard">

    <app-estadisticas [areas]="areas" [users]="users" [incidentes]="incident"></app-estadisticas>
    <div class="row">

        <div class="col-xl-9 col-lg-9">

            <app-usuarios [users]="users" [pageCurret]="pageCurret" [loanding]="loadingUser" [areas]="areas"
                (refresh)="getUsuarios()" [searchDone]="searchDoneUser" (pageChange)="nextPage($event)"
                (refresh)="getAreas()"
                (filterUser)="getUsuario($event)"></app-usuarios>
        </div>

        <div class="col-xl-3 col-lg-3">
            <app-actividades-recientes></app-actividades-recientes>
        </div>
    </div>

    <div class="row py-3">
        <div class="col-xl-3 col-lg-3">
            <app-acciones></app-acciones>
        </div>
        <div class="col-xl-9 col-lg-9">
            <app-areas [areas]="areas" [pageCurret]="pageCurretArea" [loanding]="loadingArea"
                [searchDone]="searchDoneArea" (pageChange)="nextPage($event)" (refresh)="getAreas()"
                (filterArea)="getArea($event)"></app-areas>
        </div>
    </div>


</div>