<div class="row ">
    <div class="row">
        <div class="col-lg-10">
            <h3 style="color: #2c2c2c; font-weight: 400; line-height: 0.5;">Mis Reportes</h3>
            <p style="color: #626060f1; font-size: 18px;">Consulta el estado de los reportes que has realizado.</p>
        </div>
        <div class="col-lg-2 ">
            <button class="btn report-button" (click)="openDialog()">
                <i class="bi bi-plus-circle-fill me-2"></i>
                Nuevo Reporte
            </button>
        </div>
    </div>
    <div class="buscador-report">
        botones y buscador
    </div>

    <div class="custom-box">
        <div class="box-header row">
            <h5 class="col-lg-3 ">Reportes </h5>
            <h5 class="col-lg-2">Categorías </h5>
            <h5 class="col-lg-2">Direccion </h5>
            <h5 class="col-lg-2 text-center">Fecha </h5>
            <h5 class="col-lg-3 text-end">Estado </h5>
        </div>
        <app-incident-list [incident]="incident" [pageCurret]="pageCurret"
        (refresh)="getIncident()"></app-incident-list>

    </div>

    <div>

    </div>


</div>