<div class="hero-section container-fluid">
  <div class="row">
    
    <div class="col-lg-7">
      <div class="hero-content">

        <span class="welcome-text">
          ¡Bienvenido!
        </span>

        <h1 class="hero-title">
          Plataforma de Reportes Ciudadanos
        </h1>

        <p class="hero-description">
          Tu participación hace una mejor ciudad. Reporta, da seguimiento y<br>
          consulta el estado de los reportes en tu comunidad.
        </p>

      </div>
    </div>

    <div class="col-lg-5">
      <!-- imagen -->
    </div>

  </div>
</div>