<div class="row">

  <div class="col-12 col-md-6 col-lg-6">

    <div class="hero-content ">

      <span class="welcome-badge">
        <i class="bi bi-megaphone-fill"></i>
        Plataforma Ciudadana
      </span>

      <h1 class="hero-title text-start">
        Reporta incidencias y da seguimiento en tiempo real
      </h1>

      <p class="hero-description">
        Tu participación ayuda a construir una mejor ciudad.
        Reporta problemas, consulta avances y mantente informado
        sobre las acciones realizadas en tu comunidad.
      </p>

    </div>

  </div>

  <div class="col-12 col-md-6 col-lg-6">

    <div class="img-logo">
      <img src="ciudad-gente.png" alt="Ciudadanos reportando">
    </div>
  </div>