<div class="row g-4">
    <div class="col-12 col-lg-8">
        <div class="custom-box">
            <div class="d-flex justify-content-between border-bottom  box-title">
                <a href=""> <i class="bi bi-box-fill"></i> Reportes Recientes</a>
                <a href="" style="color: #ff6a00;">Ver Todas</a>
            </div>

            <div class="custom-card">
                <div class="row align-items-center p-2">
                    <div class="col-lg-4 ">
                        <div class=" d-flex align-items-center">
                            <div class="circle m-2">
                                <i class="bi bi-tree-fill  text-success fs-1 "></i>
                            </div>
                            <div>
                                <strong class="d-block"> Arbol Caido en parque</strong>
                                <small>Parque, Central Col. Centro</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <small>20 de may. 2026 10:30am</small>
                    </div>
                    <div class="col-md-2">
                        <div class="card-status">
                            En Proceso
                        </div>
                    </div>
                    <div class="col-md-4">
                        <span class="badge rounded-pill bg-success p-0 me-2"><i class="bi bi-check"
                                style="font-size: 25px;"></i></span> 
                            
                        <span class="badge rounded-pill bg-success p-0 me-2"><i class="bi bi-check"
                                style="font-size: 25px;"></i></span>
                        <span class="badge rounded-pill bg-success p-0 me-2"><i class="bi bi-check"
                                style="font-size: 25px;"></i></span>
                                <span class="badge rounded-pill bg-secondary p-0 me-2"><i class="bi bi-check2"
                                style="font-size: 25px;"></i></span>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-12 col-lg-4">
        <div class="custom-box">
            <div class=" d-flex box-title">
                <a href=""><i class="bi bi-graph-up "></i> Resumen de Reportes atendidos</a>
            </div>

        </div>

    </div>

</div>