<div class="d-flex flex-nowrap overflow-x-auto gap-3 pb-3 px-3 justify-content-lg-between justify-content-start">

    @if (areas && areas.length > 0) {

        @for (item of areas; track $index) {

            <div class="category-card">

                <div class="icon-wrapper">
                    <i [class]="getIconos(item.name)"></i>
                </div>

                <h3 class="category-title">
                    {{ item.name }}
                </h3>

                <div class="category-badge">
                    {{ item.reports }}
                </div>

                <span class="category-count">
                    reportes
                </span>

            </div>

        }

    }@else {
         <div class=" d-flex justify-content-center align-items-center m-auto" style="height: 200px;">
                    <h3 class=" text-secondary sin-reports"><i class="bi bi-inbox fs-1 text-secondary"></i> No  hay areas cargadas</h3>
                </div>
    }

</div>