<div class="incident-container overflow-y-auto p-3">
    @if (incident &&incident.length>0) {
    @for (item of incident; track $index) {
    <div class="custom-card">
        <div class="row align-items-center g-3">
            <!-- Icono + Información -->
            <div class="col-lg-4 col-md-7">
                <div class="incident-info">
                    <div class="circle">
                        @if (item.media && item.media.length > 0) {
                        @if (item.media[0].file_type === 'image') {
                        <button class="border-0 bg-transparent img-active" (click)="fullDialog(urlImage+item.media[0].file_path)"><img [src]="urlImage+item.media[0].file_path" ></button>
                        } @else {
                        <img src="logogob.jpeg" alt="Logo Gobierno" >
                        }
                        }
                        @else {
                        <img src="logogob.jpeg" alt="Logo Gobierno">
                        }
                    </div>
                    <div class="incident-text">
                        <h6 class="incident-title">
                            {{item.title}}


                        </h6>
                        <p class="incident-description">
                            {{item.description}}

                        </p>
                    </div>
                </div>
            </div>
            <!--Categoria-->

            <div class="col-lg-2 col-md-2 ">
                <i [class]="getIconos(item.area['name'])"></i>
                {{item.area['name']}}
            </div>
            <!--Direccion-->
            <div class="col-lg-2 col-md-1">
                <div class="incident-date">
                    <p>{{item.direction}}</p>
                </div>
            </div>
            <!-- Fecha -->
            <div class="col-lg-2 col-md-2 ps-5">
                <div class="incident-date">
                    {{item.created_at | date:'dd MMM yyyy'}}
                    <br>
                    <small>
                        {{item.created_at | date:'hh:mm a'}}
                    </small>
                </div>
            </div>
            <!-- Estado -->
            <div class="col-lg-2 col-md-4 p-0 ">
                <div class="d-flex justify-content-between align-items-center">

                    <div class="card-status" [ngStyle]="{'background':getStatus(item.status)}">{{item.status}}</div>

                    <div class="d-flex flex-column">
                        <button class="btn btn-sm  border-0 m-0 p-0" matTooltip="Editar Reporte"
                            (click)="openDialog(item)">
                            <i class="bi bi-pencil-square fs-5" style="color: #2196F3;"></i>
                        </button>

                        <button *ngIf="auth.getUser()?.role_id==2 && item.status=='pendiente'" class="btn btn-sm border-0  m-0 p-0 " matTooltip="Eliminar Reporte"
                            (click)="confirmaEliminar(item.id)">
                            <i class="bi bi-trash fs-5" style="color:#F44336;"></i>
                        </button>

                        <button class="btn btn-sm border-0  m-0 p-0 " matTooltip="Visualizar Reporte" (click)="verDetalle(item)">
                            <i class="bi bi-eye fs-5" style="color: #212121;"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    }

    }@else{
    <div class="d-flex justify-content-center align-items-center " style="height: 300px;">
        <h3 class="m-0 text-secondary"><i class="bi bi-inbox fs-1 text-secondary"></i> No hay reportes</h3>
    </div>
    }
</div>
@if (pageCurret) {
    <mat-paginator class="custom-paginator" [length]="pageCurret.total" [pageSize]="pageCurret.per_page"
    (page)="changePage($event)" aria-label="Select page">
</mat-paginator>
}