/* ===================== */
/* LISTA */
/* ===================== */

.incident-container::-webkit-scrollbar {
    width: 6px;
}

.incident-container::-webkit-scrollbar-thumb {
    background: #d6d6d6;
    border-radius: 10px;
}

/* ===================== */
/* CARD */
/* ===================== */
.custom-card {
    background: #fff;
    border: 1px solid #f1f3f5;
    border-radius: 16px;
    padding: 16px 20px;
    margin-bottom: 12px;
    transition: .25s;
    box-shadow:
        0 2px 8px rgba(0, 0, 0, .03);
}

.custom-card:hover {
    transform: translateY(-2px);
    box-shadow:
        0 10px 20px rgba(0, 0, 0, .08);
}

/* ===================== */
/* INFORMACIÓN */
/* ===================== */
.incident-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.circle {
    width: 55px;
    height: 55px;
    min-width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.incident-title {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    color: #212529;
}

.incident-description {
    margin: 4px 0 0;
    font-size: 13px;
    color: #6c757d;
    line-height: 1.4;
}

/* ===================== */
/* FECHA */
/* ===================== */
.incident-date {
    font-size: 14px;
    font-weight: 500;
    color: #495057;
}

.incident-date small {
    color: #adb5bd;
}

/* ===================== */
/* STATUS */
/* ===================== */
.card-status {
    width: 160px;
    height: 35px;
    border-radius: 30px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    color: #343a40;
}
.position{
    text-align: end;
}
.custom-paginator{
    font-size: 15px;
}



/* ===================== */
/* RESPONSIVE */
/* ===================== */
@media (max-width: 990px) {
    .incident-date {

        margin-top: 10px;
    }

    .progress-timeline {

        margin-top: 15px;
    }

}

@media (max-width: 576px) {
    .custom-card {
        text-align: center;
    }

    .incident-info {
        flex-direction: column;
    }

    .circle {
        margin-bottom: 10px;
    }

    .incident-date,
    .card-status,
    .progress-timeline {
        margin-top: 12px;
    }

    .box-title a {
        font-size: 15px;
    }

}