<nav class="navbar navbar-expand-lg custom-nav mb-4 mt-2">

    <div class="container">

        <!-- LOGO -->
        <a class="navbar-brand p-0 m-0" href="#">

            <div class="brand-wrapper">

                <div class="custom-img">
                    <img src="logogob.jpeg" alt="Logo Gobierno">
                </div>

                <div class="custom-box">

                    <p class="dependencia">
                        Gobierno Municipal de
                    </p>

                    <h1 class="title">
                        El Grullo
                    </h1>

                    <p class="secText">
                        La Ciudad de la Gente
                    </p>

                </div>

            </div>

        </a>

        <!-- BURGER -->

        <button
            class="navbar-toggler custom-kebab"
            type="button"
            [class.active]="isMenuOpen"
            (click)="toggleMenu()">

            <span class="toggler-dot"></span>
            <span class="toggler-dot"></span>
            <span class="toggler-dot"></span>

        </button>

        <!-- MENÚ -->

        <div
            class="custom-menu-collapse"
            [class.show]="isMenuOpen">

            <ul class="navbar-nav ms-auto align-items-lg-center">

                <li class="nav-item">
                    <a class="nav-link" routerLink="inicio" routerLinkActive="active">
                        Inicio
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="misReportes" routerLinkActive="active" >
                        Mis Reportes
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="contactos" routerLinkActive="active">
                        Contactanos
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="ayuda" routerLinkActive="active">
                        Ayuda
                    </a>
                </li>

                <li  class="nav-item ms-lg-3" >

                    <button class="btn btn-login"routerLink="login" >

                        <i class="bi bi-person"></i>

                        Inicio de Sesión

                    </button>

                </li>

            </ul>

        </div>

    </div>

</nav>