
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>
                Acciones del Sistema
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <button mat-flat-button color="primary" class="action-btn w-100 mb-3">
                <mat-icon>

                    backup
                </mat-icon>
                Respaldar Base de Datos
            </button>
            <button mat-flat-button color="accent" class="action-btn w-100 mb-3">
                <mat-icon>
                    file_download
                </mat-icon>
                Exportar Usuarios
            </button>
            <button mat-flat-button color="warn" class="action-btn w-100 mb-3">
                <mat-icon>
                    security
                </mat-icon>
                Auditoría
            </button>
        </mat-card-content>
    </mat-card>
