<div class="row g-4">

    <div class="col-12 col-lg-8">

        <div class="custom-box">

            <div class="box-header">
                <h5>Categorías </h5>
            </div>

            <app-category-chart-component>
            </app-category-chart-component>

        </div>

    </div>

    <div class="col-12 col-lg-4 card-report">

        <div class="custom-box report">

            <app-report-action-component>
            </app-report-action-component>

        </div>

    </div>

</div>
