 

        <!-- Gestión rápida -->

   

            <mat-card class="dashboard-card">

                <mat-card-header>

                    <mat-card-title>

                        Gestión Rápida

                    </mat-card-title>

                    <mat-card-subtitle>

                        Acciones frecuentes

                    </mat-card-subtitle>

                </mat-card-header>

                <mat-card-content>

                    <div class="row g-3">

                        <div class="col-6">

                            <button mat-stroked-button class="quick-card w-100">

                                <mat-icon color="warn">

                                    person_add

                                </mat-icon>

                                <span>Nuevo Usuario</span>

                            </button>

                        </div>

                        <div class="col-6">

                            <button mat-stroked-button class="quick-card w-100">

                                <mat-icon color="primary">

                                    apartment

                                </mat-icon>

                                <span>Nueva Área</span>

                            </button>

                        </div>

                        <div class="col-6">

                            <button mat-stroked-button class="quick-card w-100">

                                <mat-icon color="accent">

                                    event_note

                                </mat-icon>

                                <span>Reportes</span>

                            </button>

                        </div>

                        <div class="col-6">

                            <button mat-stroked-button class="quick-card w-100">

                                <mat-icon>

                                    settings

                                </mat-icon>

                                <span>Configuración</span>

                            </button>

                        </div>

                    </div>

                </mat-card-content>

            </mat-card>

   

        


        



