<footer class="mt-5  border-top ">
    <div class="container-lg row pt-3 px-5 " >
        <div class="col-lg-3  mt-2 ">
            <div class="footer-banner">
                <div class="footer-img">
                    <img src="logogob.jpeg" alt="" class="img-fluid">
                </div>
                <div class="footer-box">
                    <p class="dependencia">
                        Gobierno Municipal de
                    </p>

                    <h1 class="title">
                        El Grullo
                    </h1>

                    <p class="secText">
                        La Ciudad de la Gente
                    </p>

                </div>

            </div>

            <div class="footer-text">
                <p class="title">
                    Plataforma Ciudadana de Reportes
                </p>

                <h4 class="description">
                    Tu participacion ayuda a construir <br> una mejor ciudad.
                </h4>

            </div>
            <span class="welcome-badge">
                <i class="bi bi-megaphone-fill"></i>
                Plataforma Ciudadana
            </span>
        </div>
        <div class="col-lg-4 col-7">
            <app-card-footer [cardInfo]="quickLinks" [label]="labelEnlace" [icon]="iconEnlace"></app-card-footer>
        </div>
        <div class="col-lg-3  col-5 ">
            <app-card-footer [cardInfo]="contactInfo" [label]="labelContacto" [icon]="iconContacto"></app-card-footer>
        </div>





    </div>
    <div class="footer-bottom">

        <div class="container">

            <div class="row g-0 align-items-center">

                <div class="col-lg-3 footer-bottom__item">
                    <i class="bi bi-shield-lock"></i>

                    <div>
                        <h6>Tus datos están protegidos.</h6>
                        <small>Uso responsable de la información.</small>
                    </div>
                </div>

                <div class="col-lg-4 footer-bottom__item footer-bottom__center">
                    <span>
                        © 2026 Gobierno Municipal de
                        <strong>El Grullo</strong>
                    </span>

                    <small>
                        Todos los derechos reservados.
                    </small>
                </div>

                <div class="col-lg-3 footer-bottom__item footer-bottom__center">
                    <span>
                        Desarrollado por la Dirección de
                        Tecnologías de la Información
                    </span>
                </div>

                <div class="col-lg-2 footer-bottom__item footer-bottom__version">
                    <span>Versión 1.0.0</span>
                </div>

            </div>

        </div>

    </div>

</footer>