<div class="row">
    <div >
       <h3 style="color: #2c2c2c; font-weight: 400; line-height: 0.5;">Contacto</h3>
       <p style="color: #626060f1; font-size: 18px;">Estamos para atenderte. Elige el medio por el cual deseas comunicarte</p> 
    </div>
    <div class="col-lg-4">
        <div class="custom-box">
            <div class="box-header">
                <h5>Informacion de Contacto</h5>
            </div>
            <app-contact-card></app-contact-card>

        </div>
    </div>
    <div class="col-lg-8">
        <div class="custom-box ">
            <div class="box-header">
                <h5>Envianos un mensaje</h5>
            </div>
            <app-formulario></app-formulario>
            
        </div>
    </div>
</div>
